@import "../../Variables.scss";

.icon {
  display: flex;
  font-size: 1.4rem;
  cursor: pointer;
  color: var(--color);
  background-color: var(--background-color);
  // transition: 0.5s ease-in-out;
}
