@import "../../Variables.scss";

.tog-icon {
  display: flex;
  font-size: 1.4rem;
  cursor: pointer;
  color: var(--clr);
  background-color: var(--bg-clr);
  transition: all 0.5s ease-in-out;

  &:hover {
    color: $brown2;
  }
}
