@import "../../Variables.scss";

.cardWrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 4rem;
  text-align: center;

  .card {
    .cardField {
      border: 0.1rem solid var(--clr);
      border-radius: 1rem;
      padding: 1rem;
      text-align: center;
      background-color: var(--bg-clr);
      color: var(--clr);

      &:hover {
        background-color: var(--clr);
        color: var(--bg-clr);
        border: 0.1rem solid var(--bg-clr);
      }

      .cardLable {
        font-family: $font-family;
        padding: 0 0.5rem;
        font-size: 1.5rem;
        font-weight: 500;
        display: block;
        color: $brown;
      }
    }
    img {
      width: 10rem;
      height: 10rem;
      object-fit: contain;
      padding: 1rem;
    }
  }
}
