@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300&display=swap");
@import "../../Variables.scss";

.profile {
  // font-family: "Inconsolata", monospace;
  // margin-top: 5.35rem;
  height: 26rem; //410px-630-70vh
  width: 100vw;
  background: url("../.././Assets/images/bgImage.jpg") no-repeat center;
  background-size: cover;

  .intro {
    // padding-top: 4rem;
    // padding-right: 40rem;
    // display: flex;
    text-align: center;
    position: absolute;
    top: 9.35rem;
    left: 10rem;

    .glass {
      background: rgba(172, 212, 222, 0.15);
      border: $border;
      border-radius: 0.5rem;
      padding: 1.2rem 3rem 0.5em 3rem;
      margin: 0 auto;
      color: $blueBlack;

      .coder {
        font-size: 2.5rem;
        font-family: "Inconsolata", monospace;
        font-weight: 500;
      }
      .name {
        font-family: $font-family;
        font-size: 4rem;
        font-weight: 700;
      }
      .frontEnd {
        font-size: 1.5rem;
        font-weight: 400;
        padding-top: 1rem;
      }
    }
  }
}
