@import "../../Variables.scss";

.mediaLogo {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  font-size: 1.5rem;
  justify-content: center;
  padding: 1rem 2rem 0.5rem 2rem;

  a {
    text-decoration: none;
    color: $blueBlack;
    &:hover {
      color: $white;
    }
  }
}
