@import "../../Variables.scss";

.textWrap {
  text-align: center;
  line-height: 4rem;
  p {
    font-family: $font-family;
  }

  .p1 {
    font-size: 2.2rem;
    font-weight: 500;
  }

  .p2 {
    font-size: 1.5rem;
    font-weight: 400;
  }
}

.fieldSet {
  border-top: 0.15rem solid $brown;

  a {
    color: var(--clr);

    &:hover {
      color: $brown;
    }
  }
}
