@import "./Variables.scss";

* {
  font-family: $font-family2;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  // text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  // font-size: 62.5%;
  font-size: 100%;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  margin-top: 5.35rem; // hight 85.6 px
  // scroll-padding-top: 5rem;
  background-color: var(--bg-clr);
}

.light {
  --bg-clr: #eeefe1;
  --clr: #07161b;
}

.dark {
  --bg-clr: #07161b;
  --clr: #eeefe1;
}

.credit {
  text-align: right;
  font-family: $font-family;
  padding: 0 5rem 3rem 0;
  font-size: 1.2rem;
  color: var(--clr);
  #name {
    font-family: $font-family;
    font-weight: 600;
  }
}

@media (max-width: 1250px) {
  html {
    font-size: 86%;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 78%;
    .projectWrap {
      .pimg img {
        height: 19rem;
        width: 23rem;
      }
    }
  }
}
@media (max-width: 850px) {
  html {
    font-size: 70.5%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 65%;
  }
}
@media (max-width: 700px) {
  html {
    font-size: 61%;
    .projectWrap {
      height: 24rem;
      .pimg img {
        height: 20rem;
        width: 21rem;
      }
    }
  }
}

@media (max-width: 600px) {
  html {
    font-size: 51%;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 45%;

    .projectWrap {
      height: 29rem;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      gap: 0.5rem;
      .pimg img {
        height: 10rem;
        width: 35rem;
      }
    }
  }
}

@media (max-width: 400px) {
  html {
    font-size: 40%;
  }
}
@media (max-width: 350px) {
  html {
    font-size: 33%;
  }
}
