@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap");

@import "./Variables.scss";

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  // text-transform: capitalize;
  transition: 0.4s linear;
}

html {
  // font-size: 62.5%;
  font-size: 100%;
}

body {
  // padding: 1rem 2rem;
  overflow-x: hidden;
  scroll-behavior: smooth;
  // margin-top: 8.56rem;
  margin-top: 5.35rem;
  // scroll-padding-top: 5rem;
  background-color: var(--bg-clr);
}

.light {
  --bg-clr: #eeefe1;
  --clr: #07161b;
}

.dark {
  --bg-clr: #07161b;
  --clr: #eeefe1;
}

// @media (max-width: 991px) {
//   html {
//     // font-size: 55%;
//   }
// }

// @media (max-width: 450px) {
//   html {
//     // font-size: 50%;
//   }
// }
