$white: #fdfcf8;
$cream: #eeefe1;
$blueBlack: #07161b;
// $greenBlack: #344e41;
$brown: #9c6644;
$border: 0.1rem solid $blueBlack;
$blur: rgba(0, 0, 0, 0.8);
$box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
$brown2: #c79373;

@import url("https://fonts.googleapis.com/css2?family=Philosopher:ital@1&display=swap");
$font-family: "Philosopher", sans-serif;
